{% extends "admin/admin_base.html" %}
{% block content %}

<h1 class="page-title">Товары</h1>

<div class="product-grid admin-products">

    {% for product in products %}
    <div class="product-card">

        <div class="product-image">
            <img src="{{ url_for('static', filename=product.image) }}">
        </div>

        <div class="product-info">
            <h3 class="product-title">
                {{ product.name_ru }}
            </h3>

            <div class="product-price">
                {{ product.price }} €
            </div>

            <div class="admin-product-actions">
                <a href="{{ url_for('edit_product', id=product.id) }}" class="admin-btn edit">
                    ✏️
                </a>
                <button onclick="deleteProduct({{ product.id }})"
                        class="admin-btn delete">
                    ❌
                </button>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}
