{% extends "admin_base.html" %}
{% block content %}
<h1>Админ‑панель</h1>

<a href="/admin/logout" style="display:inline-block; margin-bottom:15px; background:#1f2933; color:white; padding:8px 15px; text-decoration:none; border-radius:5px;">
    Выйти
</a>

{% if orders %}
<table border="1" cellpadding="8" cellspacing="0" style="width:100%; border-collapse:collapse;">
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Контакт</th>
    <th>Товары</th>
    <th>Сумма</th>
    <th>Статус</th>
  </tr>
  {% for order in orders %}
      <tr>
        <td>{{ order[0] }}</td>
        <td>{{ order[1] }}</td>
        <td>{{ order[2] }}</td>
        <td>{{ order[3] }}</td>
        <td>{{ order[4] }} €</td>
        <td>{{ order[5] }}</td>
      </tr>
  {% endfor %}
</table>
{% else %}
<p>Нет заказов.</p>
{% endif %}

{% endblock %}
