<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>Admin | Wallcraft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background:#f2f2f2">

<header class="top-header">
    <div class="logo-center">
        <span class="logo-text">ADMIN PANEL</span>
    </div>
    <div class="lang-switch">
        <a href="/logout">Выйти</a>
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>
