<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>Wallcraft</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="logo">
        <a href="{{ url_for('index', lang=lang) }}">WALLCRAFT</a>
    </div>
    <div class="lang-switch">
        <a href="?lang=ru">RU</a> |
        <a href="?lang=lv">LV</a>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
