{% extends "base.html" %}
{% block content %}

<div class="product-grid">

    {% for product in products %}
    <div class="product-card">

        <div class="product-image">
            <img
                src="{{ url_for('static', filename=product.image) }}"
                alt="{{ product.name_ru if lang == 'ru' else product.name_lv }}"
                loading="lazy"
            >
        </div>

        <div class="product-info">
            <h3 class="product-title">
                {{ product.name_ru if lang == "ru" else product.name_lv }}
            </h3>

            <div class="product-price">
                {{ product.price }} €
            </div>

        <button class="add-to-cart-btn"
        onclick="addToCart({{ product.id }})">
    В корзину
</button>
        </div>

    </div>
    {% endfor %}

</div>

<script>
function addToCart(productId) {
    fetch(`/api/add_to_cart/${productId}`, {
        method: "POST"
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            const badge = document.getElementById("cart-count");
            if (badge) {
                badge.textContent = data.cart_total_items;
            }
        }
    });
}
</script>

{% endblock %}
