{% extends "base.html" %}

{% block content %}
<h1>Каталог</h1>

<div style="display:flex; flex-wrap:wrap; gap:20px;">
    {% for product in products %}
    <div style="background:#f0f0f0; padding:15px; border-radius:8px; max-width:300px; flex:1 0 300px;">
        <img src="{{ url_for('static', filename=product.image) }}" style="width:100%; border-radius:8px;">
        
        <h2>{{ product.name_ru }}</h2>
        <p>{{ product.description_ru }}</p>
        
        <!-- Цена и кнопка Купить -->
        <div style="margin-top:10px;">
            <p><b>Цена:</b> {{ product.price }} 25€</p>
            <a href="/order" style="
                display:inline-block;
                padding:10px 15px;
                background:#1f2933;
                color:white;
                text-decoration:none;
                border-radius:5px;
            ">Купить</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
