{% extends "base.html" %}
{% block content %}

<h1 class="page-title">
    {% if lang == "ru" %}Личный кабинет{% else %}Admin Panel{% endif %}
</h1>

<div class="dashboard-box">

    <p>
        {% if lang == "ru" %}
        Вы вошли как администратор
        {% else %}
        You are logged in as admin
        {% endif %}
    </p>

    <div class="dashboard-actions">
        <a href="/catalog" class="popup-btn">
            {% if lang == "ru" %}Перейти в каталог{% else %}Catalog{% endif %}
        </a>

        <a href="/logout" class="popup-btn primary">
            {% if lang == "ru" %}Выйти{% else %}Logout{% endif %}
        </a>
    </div>

</div>

{% endblock %}
