{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">WALLCRAFT</h1>

        <p class="hero-subtitle">
            {% if lang == "ru" %}
                Жидкие обои премиум-класса
            {% else %}
                Premium šķidrās tapetes
            {% endif %}
        </p>

        <a href="{{ url_for('catalog') }}" class="hero-btn">
            {% if lang == "ru" %}
                Перейти в каталог
            {% else %}
                Atvērt katalogu
            {% endif %}
        </a>
    </div>
</section>

{% endblock %}
