{% extends "base.html" %}

{% block content %}

<div class="hero">
    <img src="{{ url_for('static', filename='images/bear_wallcraft.png') }}"
        alt="Wallcraft Bear">
</div>

<h1 class="page-title">
    {% if lang == "ru" %}
        Жидкие обои
    {% else %}
        Šķidrās tapetes
    {% endif %}
</h1>

<div class="product-grid">
    {% for product in products %}
    <a href="{{ url_for('product', product_id=product.id) }}" class="product-card">
        <img src="{{ url_for('static', filename=product.image) }}" alt="">
        <h3 class="product-title">
            {{ product["name_" + lang] }}
        </h3>
        <p class="price">{{ product.price }} €</p>
    </a>
    {% endfor %}
</div>

{% endblock %}
