{% extends "base.html" %}
{% block content %}
<div class="product-detail">
    <div class="product-image">
        <!-- Картинка товара -->
       <img src="{{ url_for('static', filename=product.image) }}"
     alt="{{ product.name_ru }}"
     class="images/filename.jpg">

    </div>
    <div class="product-info">
        <h2>{{ product['name_lv'] if lang=='lv' else product['name_ru'] }}</h2>
        <p class="description">{{ product['description_lv'] if lang=='lv' else product['description_ru'] }}</p>
        <p class="price">{{ product['price'] }} €</p>
        
        <div class="qty-controls">
            <a href="/update_cart/{{ product['id'] }}/minus" class="qty-btn">−</a>
            <span class="qty-number">{{ session.get('cart', {}).get(str(product['id']), 1) }}</span>
            <a href="/update_cart/{{ product['id'] }}/plus" class="qty-btn">+</a>
        </div>

        <a href="/add_to_cart/{{ product['id'] }}" class="buy-btn">
            {{ 'Добавить в корзину' if lang=='ru' else 'Pievienot grozam' }}
        </a>
    </div>
</div>
{% endblock %}
