{% extends "base.html" %}
{% block content %}

<h1 class="page-title">
    {% if lang == "ru" %}
        Личный кабинет
    {% else %}
        User profile
    {% endif %}
</h1>

<div class="profile-box">
    <p>
        <b>
            {% if lang == "ru" %}Пользователь:{% else %}User:{% endif %}
        </b>
        {{ user.username }}
    </p>
</div>

<h2 class="section-title">
    {% if lang == "ru" %}
        Мои заказы
    {% else %}
        My orders
    {% endif %}
</h2>

{% if orders %}
    <div class="orders-list">
        {% for order in orders %}
            <div class="order-card">
                <p><b>ID:</b> {{ loop.index }}</p>
                <p><b>{% if lang=="ru" %}Сумма{% else %}Total{% endif %}:</b>
                   {{ order.total }} €</p>

                <ul>
                    {% for item in order.items %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>
        {% if lang == "ru" %}
            У вас пока нет заказов
        {% else %}
            You have no orders yet
        {% endif %}
    </p>
{% endif %}

{% endblock %}
